<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}" />
  <meta name="theme-color" content="{{htmlWebpackPlugin.options.themeColor}}" />
  <title>
    {{htmlWebpackPlugin.options.title}}
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
  <style type="text/css">
    /* adjust application to span entire page */
    html,
    body,
    #app {
      width: 100%;
      min-height: 100vh;
    }
  </style>
</head>

<body>
  <div id="app"></div>
</body>

</html>
